# pnpm 配置
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=false
node-linker=isolated
shared-workspace-lockfile=true
save-exact=false
# 国内镜像加速（按需切换）
# registry=https://registry.npmmirror.com
